@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

.errorPageContainer {
    position: relative;
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Mulish, sans-serif;
}
.errorPageContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.logoContainer {
    position: absolute;
    left: 40px;
    top: 40px;
    transition: left .3s;
}
@media screen and (min-width: 768px) {
    .logoContainer {
        left: 275px;
    }
}
.logoContainer img {
    width: 100px;
}
.header {
    color: #303f9f;
    text-align: center;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.02em;
}
.headerDescription {
    color: #080f1a;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: center;
}
.backToModules {
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 31px;
}
.errorMessage {
    color: #647491;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
}
