.empage-header{
	background:#df761a;
	margin: 0px;
	height: 120px;
    padding: 43px 15px;
}
.mynav
{
	background-color:#fecd2f !important; 
	border-radius:0px !important;
}
.navbar-inverse .navbar-nav > li > a
{
	color:#333 !important;
	font-size:14px !important;
	font-weight:bold !important;
}
.em-con h1{
	color:white;
}
.breadcrumb li a {
    color: #fff;
    font-size: 12px;
}
.breadcrumb li:last-child a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.breadcrumb li + li:before {
    color: #fff;
}

.emnav-tabs {
	    background:#403933;
    padding: 0px 0;
	border: 1px solid #403933;
}
.emnav-tabs > li{
	/* padding:10px 10px; */
	font-size:14px;
	border-right: 1px solid #fff;
}
.emnav-tabs > li > a{
	padding:15px 20px;
	margin:0px;
	border-radius:0px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
}
.emnav-tabs > li > a:hover, .emnav-tabs > li > a:hover, .emnav-tabs > li > a:focus{
	background-color: #000;
		color:#fff;
		border:0px;
		border-right: 2px solid black;
		padding:16px 20px;
}
.emnav-tabs > li.active > a, .emnav-tabs > li.active > a:hover, .emnav-tabs > li.active > a:focus{
	    background-color: #df761a;
		color:#fff;
		border:0px;
		border-right: 2px solid #df761a;
		padding:16px 20px;
}
.pdnone{
	padding:0px;
}
.panel-default{
	border-width:0px;	
}
.form-horizontal .form-group{
	margin:0px;
}
.btn-emsave{
	color: #000;
    background-color: #fecd2f;
    border-color: #fecd2f;
}

.btn-primary
{
	background-color:#403933 !important;
	border-color:#403933 !important;
}
.btn-danger
{
	background-color:#403933 !important;
	border-color:#403933 !important;
}

@media only screen and (max-width: 600px) {
   .empage-header{
	height: auto;
	}
}

